* {
    font-family:'Times New Roman', Times, serif;
}

#bg {
    background-image: url("kzdf65v48i871.jpg");
    background-size: 100%;
}

#top > h1 {
    font-size: 6vh;
    text-align: center;
}

#city-name {
    font-family:'Beau Rivage', cursive;
    font-size: 10vh;
}

#forecast-header {
    background-color: rgb(197, 180, 180);
    padding: 1px 5px 1px 5px;
    border-radius: 4px;
    opacity: 0.8;
    color: white;
    text-align: center;
}

.card-subtitle {
    font-size: 1.5em;
}

#card {
    background-color: rgb(204, 225, 255);
}

#forecast-card {
    background-color: rgb(204, 225, 255);
    opacity: 0.9;
}

h2 > img {
    background-color: rgb(122, 187, 247);
    border-radius: 20%;
    margin-right: 30px;
}

#forecast > .card {
    background-color: rgb(204, 225, 255);
    opacity: 0.9;
}

#date {
    margin-top: 5px;
}

.card > h5 {
    text-align: center;
    color: black;
    margin-top: 10px;
}

.card > p {
    color: black;
}

#current > h2 {
    margin-left: 5%;
}

#current > p {
    margin-left: 5%;
    font-size: 20px;
}

.footer > p {
    color: white;
    text-align: center;
    display: block;
    margin-top: 20px;
    height: 30px;
}

#delete {
    float: right;
}